<nav class="navbar navbar-dark bg-primary">
<a class="navbar-brand" href="/">
  Examen
</a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <li *ngFor="let usuario of usuarioArray" 
        class="list-group-item">
        <span class="badge badge-primary">{{usuario.id}}</span> - {{usuario.nombre}}
      </li>
      </ul>
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            Inserta un nuevo Usuario      
          </div>
          <div class="form-group">
            <input type="text"  placeholder="Inserta nombre" class="form-group" id="">
          </div>
          <div class="form-group">
            <input type="text"  placeholder="Inserta usuario" class="form-group" id="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>